body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 1.6;
}

header, nav, main, section, article, aside, footer{
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
}

header, footer{
    background-color: #333;
    color: white;
}

nav{
    background-color: #555;
    color: white;
}

nav a {
color: white;
margin-right: 10px;
text-decoration: none;
}

main{
    background-color: #f9f9f9;
}

aside{
    background-color: #eee;
}

figure{
    margin: 0;
}

figcaption{
    font-style: italic;
    text-align: center;
    color: cadetblue;
}

.section[contacto]{
text-align: center;
color: darkorchid;
font-weight: bold;
}